# Node
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*

# Build
dist
build
.next
out
!/sdk/dist
!/sdk/dist/.gitkeep

# OS
.DS_Store
Thumbs.db
