DEPLOYER_PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_MAINNET_RPC_URL=https://mainnet.base.org
ETH_SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
ETH_MAINNET_RPC_URL=https://eth.llamarpc.com
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
BNB_TESTNET_RPC_URL=https://bsc-testnet.publicnode.com
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
OPTIMISM_SEPOLIA_RPC_URL=https://sepolia.optimism.io
